@model cinema_i_s.Models.associate

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>associate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.full_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.full_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.position)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Изменить запись", "Edit", new { id = Model.associate_id }) |
    @Html.ActionLink("Вернуться к записям", "Index")
</p>
