@model cinema_i_s.Models.hall

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>hall</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name_hall)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name_hall)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.capacity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Изменить запись", "Edit", new { id = Model.holl_id }) |
    @Html.ActionLink("Вернуться к записям", "Index")
</p>
